POSTGRES_DB=postgres
POSTGRES_USER=meterhub_admin
POSTGRES_PASSWORD=...

IDENTITY_DB=identity_db
IDENTITY_DB_USER=identity_user
IDENTITY_DB_PASSWORD=...

HOUSEHOLD_DB=household_db
HOUSEHOLD_DB_USER=household_user
HOUSEHOLD_DB_PASSWORD=...

METER_DB=meter_db
METER_DB_USER=meter_user
METER_DB_PASSWORD=...

READING_DB=reading_db
READING_DB_USER=reading_user
READING_DB_PASSWORD=...